<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admission</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="banner-section">
        <img src="../static/images/banner.jpg" alt="">
    </div>
    <div class="action-section">
        <div class="sub-action-section-1">
            <a href="/register">  <h1>Register</h1> </a>
        </div>
        <div class="sub-action-section-2"> 
            <a href="/delete">  <h1>Delete</h1> </a>
        </div>
        <div class="sub-action-section-3">
            <a href="/update">  <h1>Update</h1> </a>
        </div>
        <div class="sub-action-section-4">
            <a href="/view">  <h1>View</h1> </a>
        </div>
    </div>
    <div class="copy-section">
        <h1>Copyright © 2022 || All Rights Reserved ||</h1>
    </div>
</body>
</html>